<!DOCTYPE html>
<html>
<head>
    <title> Kiosk, a nowy spiderman jest super </title>  <!-- Tytuł strony oraz moja OBIEKTWYNA opinia -->
</head>
<body>
    <h1>Dodaj klienta</h1> 
    <form method="POST" action="/">  <!-- Formularz  -->
        <label for="imie">Imię:</label>  <!-- Etykieta -->
        <input type="text" id="imie" name="imie"><br><br>  
        <input type="text" id="nazwisko" name="nazwisko"><br><br>  
        <label for="email">Email:</label>  
        <input type="email" id="email" name="email"><br><br>  
        <input type="submit" value="Dodaj klienta">  <!-- Przycisk  -->
    </form>
</body>
</html>

<!--

    Formularz pozwala użytkownikowi wprowadzić imię, nazwisko i adres email klienta, a następnie przesłać te dane do serwera.

    Kod HTML można integruje się z kodem app.py w celu obsługi przesyłanych danych i zapisu ich w bazie danych.

        label odpowiada za etykiety, input do pole do wprowadzenia tekstu

    Szczerze nie wiem co tu wiecej dopisać.

-->